<div class="nav-component">
  <img src="../../assets/yourvic (3)_edited_edited.png" alt="Your Victory Fitness greyscale logo" width="65" height="65">
  <div class="nav-options">
    <nav>
      <a href="/src/app/home/home.component.html">HOME</a>
      <a href="#">MY STORY</a>
      <a href="#">PROGRAMS + SERVICES</a>
      <a href="#">TESTIMONIALS</a>
      <a href="#">BLOG</a>
      <a href="#">CONTACT</a>
    </nav>
  </div>
  <div id="cart">
    <div id="cart-items">
      <a href="#">{{cartItems}}</a>
    </div>
    <img id="cart-svg" src="../../assets/cart2.svg" alt="cart" width="50px" height="auto">
  </div>
</div>
