#img-block {
  background-image: url("../../assets/home-block-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#white-logo {
  width: 1000px;
  height: auto;
  z-index: 1;
  margin-top: -200px;
}

#img-block-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

button {
  background-color: #545c61;
  color: white;
  font-family: 'Spinnaker';
  font-size: 14px;
  width: 250px;
  height: 60px;
  opacity: 90%;
}

button:hover {
  background-color: #323232;
}
